*.o
mdp
mdp.core
Makefile
tests/regress/*/diff
tests/regress/*/expected
tests/regress/*/output
tests/regress/*/stub
tests/regress/*/fake_lock
tags
cscope.out
test.stdout
test.stderr
test.diff
test.expected
