# mdp config file example

# GnuPG absolute path (default: /usr/bin/gpg)
set gpg_path "/usr/local/bin/gpg"

# GnuPG key id (REQUIRED)
set gpg_key_id "6453194A"

# GnuPG timeout (how soon to kill gpg if nothing happens, e.g. user forgot or
# stuck in a pipe)
set gpg_timeout 5

# Editor used in edit mode (defaults to $EDITOR or /usr/bin/vi)
set editor "/usr/bin/vim"

# Timeout in show mode in seconds (default: 10)
set timeout 10

