# mdp config file example

# GnuPG absolute path (default: /usr/bin/gpg)
set gpg_path "/usr/local/bin/gpg"

# GnuPG key id (REQUIRED)
set gpg_key_id "6453194A"

# GnuPG timeout (how soon to kill gpg if nothing happens, e.g. user forgot or
# stuck in a pipe)
set gpg_timeout 5

# Editor used in edit mode (defaults to $EDITOR or /usr/bin/vi)
set editor "/usr/bin/vim"

# Timeout in show mode in seconds (default: 10)
set timeout 10

# Define a profile to generate 7 digits passwords. It can be used with the
# following command line:
#
#     mdp -g -p num7
profile num7
	set password_count 10
	set character_count 7
	set character_set 1234567890

# Another profile defining only the character set.
profile hex
	set character_set ABCDEF1234567890

profile default
	set password_count 20
